.body{
    margin-top: 80px;
    background-color:  rgb(57, 57, 57);
}
.presenter-wrapper{
    align-items: center;
    border-radius: 20px;
    margin: 2%;
    max-width: 25%;
    max-height: 25%;
    min-width: 25%;
    background-color:black;
    margin-left: 5%;
    margin-right: 5%;
}

.over-mij-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.presentatie-titel{
    color: white;
    font-size: x-large;
    text-align: left;
    padding-left: 0.8%;
}

.presentatie-tekst{
    color: white;
    font-size: medium;
    text-align: left;
    padding-left: 0.8%;
}

.content {
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    position: relative;
    /* z-index: 1;  */
}

.intro-text-wrapper{
    /* margin-top: 20%; */
    z-index: 1;
    font: 1em sans-serif;
    text-decoration: solid;
    /* color: rgb(9, 14, 52); */
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    align-items: center;
}

.description-title-wrapper{
    margin-top: 15%;
    z-index: 1;
    font-size: 4.5rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description-wrapper{
    font-size: 2rem; 
}

/* Mijn social media buttons */
.socialsWrapper img {
    position: relative;
    display: flexbox;
    padding: 10px;
    width: 50px; 
    height: 50px;
    margin-left: 10px;
}

.presenter-wrapper:hover{
    background-color:rgba(57, 57, 57, 0.95);
}


.socialsWrapper img:hover{
    width: 55px; 
    height: 55px;
}

/* contacts */

.contact {
    margin-top: 18rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  
  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px;
    border-radius: 50px;
    font-size: 1rem;
  }
  
  .submit-btn:hover {
    cursor: pointer;
  }

@media screen and (max-width: 420px) {
    .hero img {
      height: 37.5rem;
      width: 23rem;
    }
  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
        display: flex;
      max-width: 17.75rem;
      flex-wrap: wrap;
    }
  } 