.over-mij-container{
    margin-top: 20%;
    font-family: "Garamond", serif;;
    background-color: beige;
    min-height: 50%;
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    align-items: center;
    font-size: large;
}

.title{
    text-align: center;
    font-size: 3.5rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foto{
   max-width: 100%;
   margin-right: 10%;
}

.over-tekst-wrapper{
    align-items: center;
    /* max-width: 25%; */
    margin-left: 10%;
}