.over-mij-container{
    margin-top: 20%;
    font-family: "Garamond", serif;;
    background-color: beige;
    font-size: large;
}

.title{
    text-align: start;
    font-size: 3.5rem;
}

/* .row-over-mij{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.foto{
    border-radius: 100%;
   height: 20%;
   width: 20%;
}

.over-tekst-wrapper{
    align-items: start;
    max-width: 25%;
    margin-left: 10px;
}

