.portfolio-wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16%;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.816);
    min-height: 50%;
    max-height: 50%;
}

.title{
    text-align: center;
    font-size: 3.5rem;
}

.portfolio-wrapper-button{
    background-color: gold;
}